/* Start search */

.parsearch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  height: 54px;
  border: 3px solid #e9d137;
  border-radius: 5px;
  color: rgb(241 239 239 / 91%);
  position: relative;
  top: -28px;
}
.parsearch input {
  border: 0;
  outline: 0;
  margin-left: 5px;
}
.parsearch input::placeholder {
  color: rgb(241 239 239 / 91%) !important;
}
.cursor {
  cursor: pointer;
}
.pardrpdowndate,
.pardrpdownmember {
  position: relative;
}
.pardrpdowndate__dropdowndate {
  position: absolute;
  top: 41px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 15px 0px #d2cccc;
  display: none;
}
.secondsearch input {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 8px;
  box-shadow: 0px 1px 0px 0px #eee, 0px -1px 0px 1px #eee;
}
/* End search */
.pardrpdownmember__drpdownmember {
  position: absolute;
  top: 41px;
  background-color: #fff;
  border-radius: 5px;
  padding: 13px;
  box-shadow: 2px 2px 15px 0px #d2cccc;
  width: 193px;
  display: none;
  z-index: 999;
}
.adult,
.child,
.room {
  margin-bottom: 5px;
  display: flex;
  gap: 21px;
  justify-content: flex-end;
}
.pardrpdownmember__drpdownmember button {
  outline: 0;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #003588;
  width: 24px;
  background-color: transparent;
  color: hsla(206, 100%, 73.3%, 1);
  font-size: 14px;
  cursor: pointer;
}
