/* Start hotellist */
.hotellist {
  padding-bottom: 69px;
}
.hotels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.hotellist h2 {
  margin-bottom: 47px;
}
.hotel {
  border: 1px solid;
  padding: 10px;
}
.hotelimg__responsive {
  height: 172px;
  position: relative;
  margin-bottom: 15px;
}
.hotelimg__responsive > a {
  position: absolute;
  top: 148%;
  right: -41px;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #367ebf;
  padding: 10px;
  border-radius: 5px;
  box-shadow: -1px 3px 6px 0px #1b1f23;
}

/* End hotellist */
